html, body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.header-text{
    height: 110px;
}

.bg-blue {
    background-color: #2c59b5;
}

.weather-icon{
    height: 80px;
    width: 80px;
}

.myCard {
    width: 250px;
}