html, body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.header-text{
    height: 110px;
}

.bg-blue {
    background-color: rgba(44, 90, 181, 0.9);
}

.weather-icon{
    height: 80px;
    width: 80px;
}

.myCard {
    width: 250px;
}


.bg-widget {
    background-color: rgba(44, 90, 181, 0.2);
    border-radius: 35px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px grey;
}

.widget-temperature {
    font-size: 90px;
}

.widget-type {
    font-size: 40px;
}

.wind-icon{
    width: 20px;
    height: 20px;
}

#convert-buttons{
    position: relative;
  top: -512px;
  right: -1000px;
}

.bg-convert {
    background-color: brown;
    box-shadow: 4px 4px 2px grey;
}